In [1]:
people = {
    "first": ["Mohamed", 'Ahmed', 'Eslam'], 
    "last": ["El-sadek", 'Mohamed', 'Ahmed'], 
    "email": ["MohamedEl-sadek@gmail.com", 'AhmedMohamed@email.com', 'EslamAhmed@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first      last                      email
0  Mohamed  El-sadek  MohamedEl-sadek@gmail.com
1    Ahmed   Mohamed     AhmedMohamed@email.com
2    Eslam     Ahmed       EslamAhmed@email.com

In [5]:
df['email']

0    MohamedEl-sadek@gmail.com
1       AhmedMohamed@email.com
2         EslamAhmed@email.com
Name: email, dtype: object

In [6]:
df.set_index('email', inplace=True)

In [7]:
df

                             first      last
email
MohamedEl-sadek@gmail.com  Mohamed  El-sadek
AhmedMohamed@email.com       Ahmed   Mohamed
EslamAhmed@email.com         Eslam     Ahmed

In [8]:
df.index

Index(['MohamedEl-sadek@gmail.com', 'AhmedMohamed@email.com',
       'EslamAhmed@email.com'],
      dtype='object', name='email')

In [9]:
df.loc['MohamedEl-sadek@gmail.com', 'last']

'El-sadek'

In [10]:
df.iloc[0]

first     Mohamed
last     El-sadek
Name: MohamedEl-sadek@gmail.com, dtype: object

In [11]:
df.reset_index(inplace=True)
df

                       email    first      last
0  MohamedEl-sadek@gmail.com  Mohamed  El-sadek
1     AhmedMohamed@email.com    Ahmed   Mohamed
2       EslamAhmed@email.com    Eslam     Ahmed