In [1]:
person = {
    "first": "Mohamed", 
    "last": "El-sadek", 
    "email": "MohamedEl-sadek@gmail.com"
}

In [2]:
people = {
    "first": ["Mohamed"], 
    "last": ["El-sadek"], 
    "email": ["MohamedEl-sadek@gmail.com"]
}

In [3]:
people = {
    "first": ["Mohamed", 'Ahmed', 'Eslam'], 
    "last": ["El-sadek", 'Mohamed', 'Ahmed'], 
    "email": ["MohamedEl-sadek@gmail.com", 'AhmedMohamed@email.com', 'EslamAhmed@email.com']
}

In [4]:
people['email']

['MohamedEl-sadek@gmail.com', 'AhmedMohamed@email.com', 'EslamAhmed@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

     first      last                      email
0  Mohamed  El-sadek  MohamedEl-sadek@gmail.com
1    Ahmed   Mohamed     AhmedMohamed@email.com
2    Eslam     Ahmed       EslamAhmed@email.com

In [8]:
df['email']

0    MohamedEl-sadek@gmail.com
1       AhmedMohamed@email.com
2         EslamAhmed@email.com
Name: email, dtype: object

In [9]:
df.email

0    MohamedEl-sadek@gmail.com
1       AhmedMohamed@email.com
2         EslamAhmed@email.com
Name: email, dtype: object

In [10]:
df[['last', 'email']]

       last                      email
0  El-sadek  MohamedEl-sadek@gmail.com
1   Mohamed     AhmedMohamed@email.com
2     Ahmed       EslamAhmed@email.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[[0, 1], 2]

0    MohamedEl-sadek@gmail.com
1       AhmedMohamed@email.com
Name: email, dtype: object

In [13]:
df

     first      last                      email
0  Mohamed  El-sadek  MohamedEl-sadek@gmail.com
1    Ahmed   Mohamed     AhmedMohamed@email.com
2    Eslam     Ahmed       EslamAhmed@email.com

In [14]:
df.loc[[0, 1], ['email', 'last']]

                       email      last
0  MohamedEl-sadek@gmail.com  El-sadek
1     AhmedMohamed@email.com   Mohamed