In [1]:
people = {
    "first": ["Mohamed", 'Ahmed', 'Eslam'], 
    "last": ["El-sadek", 'Mohamed', 'Ahmed'], 
    "email": ["MohamedEl-sadek@gmail.com", 'AhmedMohamed@email.com', 'EslamAhmed@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first      last                      email
0  Mohamed  El-sadek  MohamedEl-sadek@gmail.com
1    Ahmed   Mohamed     AhmedMohamed@email.com
2    Eslam     Ahmed       EslamAhmed@email.com

In [5]:
filt = (df['last'] == 'El-sadek') | (df['first'] == 'Mohamed')

In [6]:
df.loc[~filt, 'email']

1    AhmedMohamed@email.com
2      EslamAhmed@email.com
Name: email, dtype: object